body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.contanir {

    display: grid;

    /* grid-template-columns: repeat(4, 25%); */
    /* grid-template-rows: repeat(3, 25%) 15%; */

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;

    grid-template-areas:
        "iphone-content iphone-image Labs-content Labs-content"
        "keyboard-content mac-image mac-content floppy-content"
        "Controller-content ipad-content ipad-content floppy-content"
        "twitter-content Exp-content tv-image tv-content"
    ;
}

img {
    width: 100%;
}

.Montserrat {
    color: #A7ACB5;
    font-family: "Montserrat", sans-serif;
}

.iphone-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #FEF5F5;
    grid-area: iphone-content;

    .content {
        margin: auto;
        width: 80%;

        span {
            font-weight: 700;
            font-size: 12px;
        }

        h2 {
            font-family: "Arvo", serif;
            font-weight: 400;
            font-size: 22px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            color: #A7ACB5;
        }
    }
}

.iphone-image {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #FEF5F5;
    grid-area: iphone-image;

    .one-img {
        position: relative;
        top: 5px;
        padding-top: 50px;
        width: 60%;
        margin: auto;
    }

    .one-img img {
        width: 100%;
    }
}

.Labs-content {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #F3F3F9;
    grid-area: Labs-content;

    .inner {
        width: 90%;
        margin: auto;
    }

    span {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
    }

    h2 {
        font-family: "Arvo", serif;
        font-weight: 400;
        font-size: 48px;
        color: #333333;
        margin: 20px;
    }

    a {
        font-weight: 400;
        font-size: 14px;
        color: #27b9c2;
    }
}

.keyboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #F05D42;
    grid-area: keyboard-content;

    .inner {
        width: 90%;
        margin: auto;
    }

    .two-img {
        width: 80%;
        margin: auto;
    }

    .two-img img {
        width: 100%;
    }

    h2 {
        font-family: "Arvo", serif;
        font-weight: 700;
        font-size: 22px;
        color: white;
    }

    a {
        font-weight: 700;
        font-size: 12px;
        color: #ffc80a;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.mac-image {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #FEF5F5;
    grid-area: mac-image;

    .inner {
        padding-top: 60px;
        padding-right: 30px;
        padding-left: 30px;
        position: relative;
        bottom: 40px;

        span {
            margin: 0 30px;
            font-weight: 700;
            font-size: 12px;
        }

        h2 {
            margin: 10px 30px;
            font-family: "Arvo", serif;
            font-weight: 400;
            font-size: 22px;

        }

        .three-img {
            position: relative;
            top: 60px;
            justify-content: center;
            width: 60%;
            left: 15%;
        }

        .three-img img {
            width: 100%;
        }
    }


}

.mac-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #FEF5F5;
    grid-area: mac-content;

    .inner {
        width: 80%;
        padding: 0 20px;

        p {
            font-weight: 400;
            font-size: 14px;
            color: #9fa3a7;
        }

        a {
            font-weight: 700;
            font-size: 12px;
            color: #38B6C6;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.floppy-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #8F76BC;
    grid-area: floppy-content;

    .inner {
        .circle {
            border-radius: 50%;
            background-color: #8166B0;
            padding: 30px 5px;
            margin-bottom: 40px;
            margin-top: 80px;

            .flag {
                margin: auto;
                background-color: #8B72B6;
                text-transform: uppercase;
                color: white;
                border-radius: 40px;
                width: fit-content;
                align-items: center;
                padding: 5px 20px;

                span {
                    font-weight: 700;
                    font-size: 10px;
                }
            }

            .four-img {
                width: 60%;
                margin: auto;
                padding: 20px 10px;
            }

            .four-img img {
                width: 100%;
            }

            span {
                font-weight: 700;
                font-size: 12px;
                color: white;
                text-transform: uppercase;
            }
        }

        .content {
            width: 80%;
            margin: auto;
            padding-bottom: 60px;

            h2 {
                font-family: "Arvo", serif;
                font-weight: 700;
                font-size: 32px;
                color: white;
            }

            p {
                color: white;
            }

            button {
                font-weight: 700;
                font-size: 12px;
                color: black;
                background-color: #FFC80A;
                border-radius: 40px;
                padding: 20px;
                border: none;
                text-transform: uppercase;
            }
        }
    }
}

.Controller-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #F7EFF0;
    grid-area: Controller-content;

    .inner {
        width: 80%;
        margin: auto;

        .six-img {
            width: 80%;
            margin: auto;
        }

        .six-img img {
            width: 100%;
        }

        h2 {
            font-family: "Arvo", serif;
            font-weight: 400;
            font-size: 22px;
            color: #333;
        }

        a {
            font-weight: 700;
            font-size: 12px;
            color: #27b9c2;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.ipad-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: relative;
    background-color: #98B8BE;
    grid-area: ipad-content;

    .inner {
        .choice {
            span {
                font-weight: 700;
                font-size: 8px;
                position: absolute;
                top: 17px;
                left: 20px;
                padding: 5px 13px;
                border-radius: 7px;
                background-color: #FA684F;
                color: white;
                text-transform: uppercase;
            }
        }

        .content {
            text-align: center;

            h2 {
                position: relative;
                top: 20px;
                font-family: "Arvo", serif;
                font-weight: 700;
                font-size: 22px;
                color: white;
            }

            .five-img {
                position: relative;
                top: 43.5px;
                width: 70%;
                margin: auto;
                z-index: 1;
            }

            .five-img img {
                width: 100%;
            }
        }
    }

    .inner::before {
        content: "UX";
        position: absolute;
        /* top: 70%;
        left: 120px; */
        /* top: 70%;
        left: 120px; */
        top: 75%;
        left: 52%;
        transform: translate(-50%, -50%);
        width: 100%;
        /* width: 20%; */
        text-align: center;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 430px;
        font-family: "Arvo", serif;
        color: #8BAAAB;
        overflow: hidden;
        z-index: 0;
    }

}

.twitter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #38D5F4;
    grid-area: twitter-content;
    overflow: hidden;

    .inner {
        width: 80%;
        margin: auto;

        .circle {
            border-radius: 50%;
            background-color: #35CFED;
            padding: 60px 20px;

            .seven-img {
                width: 20%;
                margin: auto;
            }

            .seven-img img {
                width: 100%;
            }

            h2 {
                font-family: "Arvo", serif;
                font-weight: 400;
                font-size: 22px;
                color: white;
            }
        }
    }
}

.Exp-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #F7EFF0;
    grid-area: Exp-content;
    z-index: 2;

    .inner {
        width: 90%;

        span {
            text-transform: uppercase;
            border-radius: 20px;
            background-color: #7BC424;
            color: white;
            padding: 8px;
            font-weight: 700;
            font-size: 8px;
        }

        h2 {
            font-family: "Arvo", serif;
            font-weight: 400;
            font-size: 22px;
            color: #333;
        }
    }
}

.tv-image {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #2C2C2C;
    grid-area: tv-image;
    z-index: 3;

    .inner {
        .eight-img {
            position: relative;
            top: 30px;
            width: 60%;
            margin: auto;
        }

        .eight-img img {
            width: 100%;
        }
    }
}

.tv-content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #2C2C2C;
    grid-area: tv-content;

    .inner {
        width: 70%;
        padding-right: 20px;

        h2 {
            font-family: "Arvo", serif;
            font-weight: 400;
            font-size: 22px;
            color: white;
        }
    }
}


@media screen and (max-width:990px) {
    .contanir {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            "Labs-content Labs-content Labs-content Labs-content"
            "iphone-content iphone-content iphone-image iphone-image"
            "keyboard-content keyboard-content Controller-content Controller-content"
            "mac-image mac-image mac-content mac-content"
            "twitter-content twitter-content floppy-content floppy-content"
            "ipad-content ipad-content floppy-content floppy-content"
            "Exp-content Exp-content Exp-content Exp-content"
            "tv-image tv-image tv-content tv-content";
    }

}